---
layout: default
isHome: true
---

<div itemscope itemtype="http://schema.org/Blog">
{% for post in paginator.posts %}
{% unless post.redirect %}
{% assign content = post.content %}
    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
        {% include article.html %}
    </article>
{% endunless %}
{% endfor %}
</div>

<div class="pagination container clearfix">
    {% if paginator.previous_page %}
         <div class="alignleft"><a href="{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}">« Prev</a></div>
    {% endif %}
    {% if paginator.next_page %}
        <div class="alignright"><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next »</a></div>
    {% endif %}
</div>

