<div class="container">
	<div class="clearfix">
		<div class="footer-widget">
			<div id="search-2" class="fwidget widget_search">
				<form role="search" method="get" id="searchform" class="searchform" action="http://www.google.com/search">
					<div>
						<label class="screen-reader-text" for="q">Search for:</label>
						<input type="text" value="" name="q">
						<input type="hidden" name="sitesearch" value="tostring.it">
						<input type="submit" id="searchsubmit" value="Search"></div>
				</form>
			</div>
			<!-- end .fwidget -->

			<div id="recent-posts-2" class="fwidget widget_recent_entries">
				<h4 class="widgettitle">Recent Posts</h4>
				<ul>
					{% for post in site.posts limit: 5%}
					<li>
						<a data-event-label="Footer" data-event-category="Recent" href="{{ site.production_url }}{{ post.url }}">{{ post.title }}C</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			<!-- end .fwidget -->

		</div>
		<!-- end .footer-widget -->

		<div class="footer-widget">
			<div id="categories-2" class="fwidget widget_categories">
				<h4 class="widgettitle">Categories</h4>
				<ul>
					{% for category in site.categories %}
					<li class="cat-item">
						<a data-event-label="Footer" data-event-category="Category" href="/categories#{{ category[0] }}" title="View all posts filed under {{ category[0] }}">{{ category[0] }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<!-- end .footer-widget -->


		<div class="footer-widget last">

			<!-- end .fwidget -->
			<div id="meta-2" class="fwidget widget_meta">
				<h4 class="widgettitle">Meta</h4>
				<ul>
					<li>
						<a data-event-label="Footer" data-event-category="Rss" href="http://feeds.feedburner.com/override/tostring/it" title="Syndicate this site using RSS 2.0">
							Entries <abbr title="Really Simple Syndication">RSS</abbr>
						</a>
					</li>
					<li>
						<a data-event-label="Footer" data-event-category="Tags" href="{{site.url}}/tags" title="Tag Cloud">
							Tag Cloud <abbr title="The Tag">Tags</abbr>
						</a>
					</li>
					<li>
						<a data-event-label="Footer" data-event-category="GithubPages" href="https://pages.github.com/" title="Powered by Github Pages.">Powered by Github Pages.</a>
					</li>
				</ul>
			</div>
			<!-- end .fwidget -->

			<div id="categories-2" class="fwidget widget_categories">
				<h4 class="widgettitle">Blog roll</h4>
				<ul>
					<li class="cat-item">
						<a data-event-label="Footer" data-event-category="Blogroll" href="http://www.hanselman.com/blog/">Scott Hanselman</a>
					</li>
					<li class="cat-item">
						<a data-event-label="Footer" data-event-category="Blogroll" href="http://www.strathweb.com/">Filip W</a>
					</li>
					<li class="cat-item">
						<a data-event-label="Footer" data-event-category="Blogroll" href="http://codeclimber.net.nz/">Simone Chiaretta</a>
					</li>
					<li class="cat-item">
						<a data-event-label="Footer" data-event-category="Blogroll" href="http://www.tugberkugurlu.com/">Tugberg Ugurlu</a>
					</li>
					<li class="cat-item">
						<a data-event-label="Footer" data-event-category="Blogroll" href="http://byterot.blogspot.it/">Aliostad</a>
					</li>
					<li class="cat-item">
						<a data-event-label="Footer" data-event-category="Blogroll" href="http://byterot.blogspot.it/">Aliostad</a>
					</li>
					<li class="cat-item">
						<a data-event-label="Footer" data-event-category="Blogroll" href="http://bitoftech.net/">Taiseer Joudeh</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- end .footer-widget -->
	</div>
	<!-- #footer-widgets -->

</div>
{% include disqus.html %}
