<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
{% if site.lang %}
<html lang="{{ site.lang }}" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://www.facebook.com/2008/fbml">
{% else %}
<html>
{% endif %}
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>{% if page.title %} {{ page.title }} | {% endif %}{{ site.description }}</title>
	<meta name="author" content="{{ site.author }}">
	{% capture description %}
		{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}
	{% endcapture %}
	<meta name="description" content="{{ description }}">
	{% if page.tags %}
		<meta name="keywords" content="{{ page.tags | array_to_sentence_string }}">
	{% endif %}

	<!-- http://t.co/dKP3o1e -->
	<meta name="HandheldFriendly" content="True">
	<meta name="MobileOptimized" content="320">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

	<link href="{{ site.subscribe_rss }}" rel="alternate" title="{{site.title}}" type="application/atom+xml">
	{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' }}{% endif %}{% endcapture %}
	<link rel="canonical" href="{{ canonical }}">

	<!--[if lt IE 9]>
		<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<script type="text/javascript">
		document.documentElement.className = 'js';
	</script>

	<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
	<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,700,800|Raleway:400,200,100,500,700,800&#038;subset=latin,latin-ext' type='text/css' media='all' />
	<link rel='stylesheet' href='/css/style.min.css?v={{ site.version }}' type='text/css' media='all' />
	<link rel='stylesheet' ihref='/css/shortcodes.css?v={{ site.version }}' type='text/css' media='all' />
	<link rel='stylesheet' href='/css/shortcodes_responsive.css?v={{ site.version }}' type='text/css' media='all' />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


	<style>
		a { color: #6ba7a5; }
		body { color: #242424; }
		#main-header { background-color: #292929; }
		#top-menu a, .et_mobile_menu a { color: #ffffff; }
		#top-menu li.current-menu-item > a, .et_mobile_menu li.current-menu-item > a { color: #7fcbc8; }
	</style>

	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    {% include social_headers.html %}
  	{% include google_analytics.html %}

  	<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
	<script type="text/javascript">
	    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":"http://tostring.it/privacy","theme":"dark-bottom"};
	</script>

	<script src="/js/cookieconsent.js?v=1"></script>
	<!-- End Cookie Consent plugin -->
</head>
