<nav id="top-menu">
	<ul id="menu-primary" class="nav">
		<li id="menu-item-842" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-842">
			<a href="http://tostring.it/about-me/" >
				About me
			</a>
		</li>
		<li id="menu-item-165" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-165">
			<a href="http://tostring.it/cv/" >
				CV
			</a>
		</li>
		<li id="menu-item-861" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-861">
			<a href="http://tostring.it/category/linkflood/" >
				Linkflood
			</a>
		</li>
		<li id="menu-item-164" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-164">
			<a href="http://tostring.it/newsletter/" >
				Newsletter
			</a>
		</li>
		<li id="menu-item-822" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-822">
			<a href="http://tostring.it/contact-2/" >
				Contact
			</a>
		</li>
	</ul>
</nav>