{% include head.html %}

{% if isHome %}
    <body class="home blog et-scroll-animations chrome et_includes_sidebar">
{% else %}
    {% if page.id %}
        <body class="single single-post single-format-standard et-scroll-animations chrome et_includes_sidebar">
    {% else %}
        <body class="page page-template-default et-scroll-animations chrome et_includes_sidebar">
    {% endif %}
{% endif %}

	{% include header.html %}

	{{ content }}

<footer id="footer" id="main-footer">
    {% include footer.html %}
</footer>

<script type='text/javascript' src='/js/jquery-migrate.min.js?v={{ site.version }}'></script>
<script type='text/javascript' src='/js/superfish.js?v={{ site.version }}'></script>
<script type='text/javascript' src='/js/waypoints.min.js?v={{ site.version }}'></script>
<script type='text/javascript' src='/js/custom.min.js?v={{ site.version }}'></script>

</body>
</html>
